[Unit]
Description=Hadoop (HDFS + YARN)
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStartPre=/opt/hadoop/sbin/start-dfs.sh
ExecStart=/opt/hadoop/sbin/start-yarn.sh
ExecStop=/opt/hadoop/sbin/stop-yarn.sh
ExecStopPost=/opt/hadoop/sbin/stop-dfs.sh
Restart=always

[Install]
WantedBy=multi-user.target
