[Unit]
Description=HBase Master
After=network.target zookeeper.service

[Service]
Type=forking
User=ubuntu
ExecStart=/opt/hbase/bin/hbase-daemon.sh start master
ExecStop=/opt/hbase/bin/hbase-daemon.sh stop master
Restart=on-failure

[Install]
WantedBy=multi-user.target
