[Unit]
Description=HBase Master
After=network.target zookeeper.service

[Service]
User=ubuntu
ExecStart=/opt/hbase/bin/hbase master start
ExecStop=/opt/hbase/bin/hbase master stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target